/*body {
    display: grid;
    background:#eef;
    grid-template-rows: 15% 60% 25%;
}

a:visited {
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:link{ 
    text-decoration:none;
}

.sans { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Myriad Pro", Ubuntu, "Helvetica Neue", sans-serif }
.serif { font-family: Georgia, serif }
.monospace { font-family: Menlo, Monaco, Consolas, "Courier New", monospace }

.stripe {
    background:#333; 
    color:#eee;
    border:2px solid #eee;
}
.brand
{

}
.small-margin { margin: 1% auto;
    width: 95%;
    border: 3px solid #ccc;
    padding: 1rem;
background: #fffffd; }

.roundish-border{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;	
    border-radius:4px;
}
.round-border{
    -moz-border-radius:12px;
    -webkit-border-radius:12px;	
    border-radius:12px;
}
.rounder-border{
    -moz-border-radius:32px;
    -webkit-border-radius:32px;	
    border-radius:32px;
}


.wonderbar-main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.wonderbar-helper{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.wonderbar-buttons{
    display:none;
}

form:valid ~ .wonderbar-buttons {
    display: block;
}

.grid{
    display: grid;
    grid-gap: 20px;
}

.grid-2cols{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.inline-grid {
    display:inline-grid;
}

.octagon {
    --notchSize: 20px;

    clip-path: 
    polygon(
    0% var(--notchSize), 
    var(--notchSize) 0%, 
    calc(100% - var(--notchSize)) 0%, 
    100% var(--notchSize), 
    100% calc(100% - var(--notchSize)), 
    calc(100% - var(--notchSize)) 100%, 
    var(--notchSize) 100%, 
    0% calc(100% - var(--notchSize))
    );
}
*/

.aifnode-options{
    visibility:hidden;
}

.aifnode-card :hover .aifnode-options{
    visibility:visible;
}

