{% extends "layout.html" %} {% block body %}
<div id="nodes" class="container">
    <div class="row">
        <div class="col-6">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="post-header">
                        <h3 id="aifnode-title">
                            {% if "INode" in aifnode.type() %} {{aifnode.title}}
                            <!-- <a id="edit-button" class="btn btn-outline-info" onclick="editTitle()">edit</a> -->
                            {% endif %} {% if "SNode" in aifnode.type() %}
                            <a class="aifnode-title" href="{{ url_for('aifNode', aifnode_id=aifnode.source_id)}}">"{{ aifnode.source}}"</a>
                            {{ aifnode.schema }}
                            <a class="aifnode-title" href="{{ url_for('aifNode', aifnode_id=aifnode.target_id)}}">"{{ aifnode.target}}"</a>
                            {% endif %}
                            <!-- <a class="btn btn-outline-danger" href="{{ url_for('delete_aifnode', aifnode_id=aifnode.id)}}">delete</a> -->
                        </h3>
                        {{aifnode.date or "some date"}}
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">

                    <button type="button" class="btn btn-success" href="{{ url_for('vote_on_aifnode', aifnode_id=aifnode.id, vote_type='Agree') }}">
                        Agree
                        <span class="badge badge-light">{{agree_votes}}</span>
                    </button>

                    <button type="button" class="btn btn-danger" href="{{ url_for('vote_on_aifnode', aifnode_id=aifnode.id, vote_type='Disagree') }}">
                        Disagree
                        <span class="badge badge-light">{{disagree_votes}}</span>
                    </button>

                    <!-- <button type="button" class="btn btn-warning" href="{{ url_for('vote_on_aifnode', aifnode_id=aifnode.id, vote_type='Undecided') }}">
                        Undecided
                        <span class="badge badge-light">{{undecided_votes}}</span>
                        </button> -->

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Tags
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" id="filtering">Filter
                                <i class="fa fa-filter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sorting">Sort
                                <i class="fa fa-sort"></i>
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Relationships
                                <i class="fa fa-exchange"></i>
                                <i class="fa fa-link"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Add
                                <i class="fa fa-plus-square-o"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12" >
                  <div id="sorts" style="display:none;">
                  <button class="sort" id="name"  data-sort="name">
                          Name
                        </button>
                        <button class="sort" id="date" data-sort="date">
                                Date
                              </button>
                            </div>

                            <div id="filters" style="display:none;">
                              <input type="text" class="fuzzy-search" onfocusout="hideFuzzy()" />


                            </div>                  {# include 'filter-menu.html' #}
                    {# include 'sort-menu.html' #}
                    {# include 'link-menu.html' #}
                    {# include 'new-statement.html' #}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {# if session.username#}
                    {% if false %}
                    <form action="{{ url_for('add_I_Node') }}" method="post">
                        <dl>
                            <dd>
                            <input style="width:500px;" type="text" class="form-control" name="title" placeholder="Add your statement">
                            <button type="submit" class="btn" value="Add">Add</button>
                            </dd>
                            <!--            <dt>Tags (separated by commas):</dt>
                                <dd><input type="text" size="30" name="tags"></dd>
                                <dt>Text:</dt>
                                <dd><textarea name="text" rows="5" cols="40"></textarea></dd>-->
                        </dl>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="card-header">Propositions</div>
            <div class="row">
                <div class="col-12">
                    <div  class="list card">
                        {% for row in aifnodes %}
                        <div class="card aifnode-card">
                            <div class="row">
                                <form method="POST" action="{{ url_for('add_S_node',aifnode_id=aifnode.id) }}" class="col-3 aifnode-options">
                                    <button type="submit" name="support-source" value={{row.aifnode.id}} class="btn btn-outline-secondary btn-block">
                                        <i class="fa fa-arrow-left"></i>
                                        <i class="fa fa-shield"></i>
                                    </button>
                                    <button type="submit" name="oppose-source" value={{row.aifnode.id}} class="btn btn-outline-secondary btn-block">
                                        <i class="fa fa-arrow-left"></i>
                                        <i class="fa fa-bomb"></i>
                                    </button>
                                    <button type="submit" name="support-target" value={{row.aifnode.id}} class="btn btn-outline-secondary btn-block">
                                        <i class="fa fa-shield"></i>
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                    <button type="submit" name="oppose-target" value={{row.aifnode.id}} class="btn btn-outline-secondary btn-block">
                                        <i class="fa fa-bomb"></i>
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                </form>
                                <div class="col-9">

                                    <div class="name card-body">
                                      {% if "INode" in row.labels %}
                                          <a class="aifnode-title" href="{{ url_for('aifNode', aifnode_id=row.aifnode.id)}}">            <p class="nameFuzzy"  >{{ row.aifnode.title}}</p>
</a>
                                      {% endif %}
                                      {% if "SNode" in row.labels %}
                                          "{{ row.aifnode.source}}"
                                          <a class="aifnode-title" href="{{ url_for('aifNode', aifnode_id=row.aifnode.id)}}">{{ row.aifnode.schema }}</a>
                                          "{{ row.aifnode.target}}"
                                      {% endif %}
                                    </div>
                                    <div class="date card-body">
                                        {{ row.aifnode.date }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
  </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>



var options = {
valueNames: [ 'name','date','nameFuzzy']
};

var userList = new List('nodes', options);

document.getElementById("sorting").addEventListener("click",displayList,false)
document.getElementById("name").addEventListener("click",hideList,false)
document.getElementById("date").addEventListener("click",hideList,false)

document.getElementById("filtering").addEventListener("click",displayFuzzy,false)

function displayFuzzy(){
  hideList()
  window.document.getElementById("filters").style.display="block";
}

function hideFuzzy(){
  window.document.getElementById("filters").style.display="none";

}



function displayList(){
  hideFuzzy();
  window.document.getElementById("sorts").style.display="block";
}

function hideList(){
  window.document.getElementById("sorts").style.display="none";

}

</script>
{% endblock %}
