{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="post-header">
                        <h3 id="aifnode-title">
                            {% if "INode" in aifnode.type() %} {{aifnode.title}}
                            <!-- <a id="edit-button" class="btn btn-outline-info" onclick="editTitle()">edit</a> -->
                            {% endif %} {% if "SNode" in aifnode.type() %}
                            <a class="aifnode-title" href="{{ url_for('aifNode', aifnode_id=aifnode.source_id)}}">"{{ aifnode.source}}"</a>
                            {{ aifnode.schema }}
                            <a class="aifnode-title" href="{{ url_for('aifNode', aifnode_id=aifnode.target_id)}}">"{{ aifnode.target}}"</a>
                            {% endif %}
                            <!-- <a class="btn btn-outline-danger" href="{{ url_for('delete_aifnode', aifnode_id=aifnode.id)}}">delete</a> -->
                        </h3>
                        {{aifnode.date or "some date"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <button type="button" class="btn btn-success" href="{{ url_for('vote_on_aifnode', aifnode_id=aifnode.id, vote_type='Agree') }}">
                        Agree
                        <span class="badge badge-light">{{agree_votes}}</span>
                    </button>

                    <button type="button" class="btn btn-danger" href="{{ url_for('vote_on_aifnode', aifnode_id=aifnode.id, vote_type='Disagree') }}">
                        Disagree
                        <span class="badge badge-light">{{disagree_votes}}</span>
                    </button>

                    <!-- <button type="button" class="btn btn-warning" href="{{ url_for('vote_on_aifnode', aifnode_id=aifnode.id, vote_type='Undecided') }}">
                        Undecided
                        <span class="badge badge-light">{{undecided_votes}}</span>
                        </button> -->

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Tags
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link">Filter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Sort</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Add</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {# include 'filter-menu.html' #}
                    {# include 'sort-menu.html' #}
                    {# include 'link-menu.html' #}
                    {# include 'new-statement.html' #}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {# if session.username#}
                    {% if false %}
                    <form action="{{ url_for('add_I_Node') }}" method="post">
                        <dl>
                            <dd>
                            <input style="width:500px;" type="text" class="form-control" name="title" placeholder="Add your statement">
                            <button type="submit" class="btn" value="Add">Add</button>
                            </dd>
                            <!--            <dt>Tags (separated by commas):</dt>
                                <dd><input type="text" size="30" name="tags"></dd>
                                <dt>Text:</dt>
                                <dd><textarea name="text" rows="5" cols="40"></textarea></dd>-->
                        </dl>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="card-header">Propositions</div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        {% for row in inodes %}
                        <div class="card inode-card">
                            <div class="row">
                                <div class="col-3 inode-options">
                                    <button class="btn btn-outline-secondary btn-block"><i class="fa fa-shield"></i></button>
                                    <button class="btn btn-outline-secondary btn-block"><i class="fa fa-bomb"></i></button>
                                    <button class="btn btn-outline-secondary btn-block"><i class="fa fa-shield"></i></button>
                                    <button class="btn btn-outline-secondary btn-block"><i class="fa fa-bomb"></i></button>
                                </div>
                                <div class="col-9">
                                    <div class="card-body">
                                        {{ row.inode.title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
