  <ul class="posts">
  {% for row in posts %}
    <li>
        <b><a href="{{ url_for('post', post_id=row.post.id)}}">{{ row.post.title }}</a></b>
        {% if request.path == "/" %}
    	by <a href="{{ url_for('profile', username=row.username) }}">{{ row.username }}</a>
        {% endif %}
    	on {{ row.post.date }}
    	<a href="{{ url_for('like_post', post_id=row.post.id) }}">like</a><br>
    	<a href="{{ url_for('agree_with_post', post_id=row.post.id) }}">agree</a><br>
    	<a href="{{ url_for('disagree_with_post', post_id=row.post.id) }}">disagree</a><br>
    	<a href="{{ url_for('undecided_on_post', post_id=row.post.id) }}">undecided</a><br>
    	<i>{{ ", ".join(row.tags) }}</i><br>
    	{{ row.post.text }}
  {% else %}
    <li>There aren't any posts yet!
  {% endfor %}
  </ul>
