  <ul class="list">
  {% for row in aifnodes %}
    <li>
        <b><a class="aifnode-title" href="{{ url_for('aifNode', aifnode_id=row.aifnode.id)}}">{{ row.aifnode.title }}</a></b>
        {% if request.path == "/" %}
    by <a href="{{ url_for('profile', username=row.username) }}">{{ row.username }}</a>
        {% endif %}
    	on <span class="date">{{ row.aifnode.date }}</span>
        <div class="votemenu">
            <a href="#vote-menu{{loop.index}}">vote</a>
            <div id="vote-menu{{loop.index}}" class="vote-anchor"><p><form action="{{ url_for('change_event') }}" method="post">
                    In event {{session.eventname}}<br> Change event to: <input type="text" name="event"></input><input type="submit" value="Submit"></form></p>
                <a href="{{ url_for('vote_on_aifnode', aifnode_id=row.aifnode.id, vote_type='Agree') }}">agree</a><br>
                <a href="{{ url_for('vote_on_aifnode', aifnode_id=row.aifnode.id, vote_type='Disagree') }}">disagree</a><br>
                <a href="{{ url_for('vote_on_aifnode', aifnode_id=row.aifnode.id, vote_type='Undecided') }}">undecided</a><br>
            </div>
        </div>
  {% else %}
    <li>there aren't any posts yet!
  {% endfor %}
  </ul>
<script>
var options = { valueNames: [ 'aifnode-title','date' ] };

var aifnodeList = new List('aifnodes', options);
</script>
