  <ul class="list">
  {% if feed is not none %}
  {% for row in feed|reverse %}
    <li>
        <b><a href="{{ url_for('profile', username=row.actor.username) }}">{{ "You" if session.username==row.actor.username else row.actor.username }}</a></b>
        {{ row.item.label.lower() }}
    <a class="feed-title" href="{{ url_for('aifNode', aifnode_id=row.target.id)}}">{{ row.target.title }}</a>
    	on <span class="feed-date">{{ row.item.date }}</span>
  {% endfor %}
  {% else %}
    <li>there aren't any posts yet!
  {% endif %}
  </ul>
<!--script>
var options = { valueNames: [ 'aifnode-title','date' ] };

var aifnodeList = new List('aifnodes', options);
</script-->
