{% extends "layout.html" %}
{% block body %}

<h2>Home</h2>
<div id="aifnodes">
  {% if session.username %}
    <h3>State your mind</h3>
    <form action="{{ url_for('add_I_Node') }}" method="post">
        <dl>
            <dt>Statement:</dt>
            <dd><input class="search" type="text" size="30" name="title"></dd>
        </dl>
        <input type="submit" value="Share">
    </form>
  {% endif %}

<br>

<h3>Today's Recent Statements</h3>
  <button class="sort" data-sort="aifnode-title">
      Sort
  </button>
{% include "display_posts.html" %}
</div>

{% endblock %}
