<!doctype html>
<html>
    <head>
        <title>WikiD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}"-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ace.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='scripts/libs/require.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/libs/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/src/common.js') }}"></script>
    </head>
    <body style="display:grid;">
            {% include 'navbar.html' %}
        <div id="randomuser">
        </div>
            {% for message in get_flashed_messages() %}
            <div class="stripe">{{ message }}</div>
            {% endfor %}
        <div class="small-margin rounded sans">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ url_for('static', filename='scripts/dist/main.js') }}"></script>
    </body>
</html>
