<!doctype html>
<title>WikiD</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" media="screen">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/list.js/dist/list.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/fuzzyDropdown/dist/fuzzy-dropdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="{{ url_for('index') }}"><h1>WikiD</h1></a> 
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    {% if session.username %}
                    Logged in as {{ session.username }}
                    <span id="event">Event:{{session.eventname}}</span>
                    <span id="select-event">(Select Event)</span>
            </ul>
            <ul class="nav navbar-nav navbar-center">
                    {% endif %}
                    <li><a href="{{ url_for('index') }}">Home</a></li>  
                    <li> <a href="{{ url_for('register') }}">Register</a> </li>
                    {% if not session.username %}
                    <li> <a href="{{ url_for('login') }}">Login</a> </li>
                    {% else %}
                    <li> <a href="{{ url_for('profile', username=session.username) }}">Profile</a> </li>
                    <li> <a href="{{ url_for('logout') }}">Logout</a> </li>
                    {% endif %}

                    <a href="https://github.com/ozFri/WikiD-heroku">View on GitHub</a>
                <!--li><a href="#">About</a></li-->
            </ul>
        </div>
    </div>
</nav>
    <h1>WikiD</h1>
<div class="page">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
