<nav class="bg-aqua">
    <div class="flex items-center justify-around pl3">
        <a class="text-decoration-none serif" href="{{ url_for('index') }}"><h1>WikiD</h1></a> 
        {% include 'wonderbar.html' %}
        <span class="grid-2cols">
        {% if session.username %}
            Logged in as <a href="{{ url_for('profile', username=session.username) }}">{{ session.username }}</a> 
            <span id="event">Event:{{session.eventname}}</span>
            <span id="select-event">(Select Event)</span>
        </span>
        {% endif %}
        <a href="{{ url_for('index') }}">Home</a>
         <a href="{{ url_for('register') }}">Register</a> 
        {% if not session.username %}
         <a href="{{ url_for('login') }}">Login</a> 
        {% else %}
         <a href="{{ url_for('profile', username=session.username) }}">Profile</a> 
         <a href="{{ url_for('logout') }}">Logout</a> 
        {% endif %}

        <!--li><a href="#">About</a></li-->
    <a href="https://github.com/ozFri/WikiD-heroku">View on GitHub</a>
    </div>
</nav>
