{% extends "layout.html" %}
{% block body %}
<div class="post-header">
<h2>
{{post.title}}
</h2>
{{post.date}}
</div>
<p>
    <div id="schemamenu-left">
        <form action="{{ url_for('add_Snode') }}">
            <select>
                {% for row in post.posts %}
                    <option>{{ row.post.title }}</option> 
                {% endfor %}
            </select> or <a href="">add</a> a new statement
            <div id=""><input type="text"></div>            
            </select>
            <select>
                <option>supports</option>
                <option>opposes</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        <ul class="" >
	    {% for row in post.supporting %}
                    <li>
                        <a href=""{{ row.post.title }}></a>
                    </li>
        {% endfor %}        
        </ul>
    </div>
    <div id="schemamenu-right">
        <form action="{{ url_for('add_Snode') }}">
            <select>
                <option>supports</option>
                <option>opposes</option>
            </select>
            <select>
                {% for row in post.posts %}
                    <option>{{ row.post.title }}</option> 
                {% endfor %}
            </select> or <a href="">add</a> a new statement
            <div id=""><input type="text"></div>            
            <input type="submit" value="Submit">
        </form><ul class="" >
            {% for row in post.supporting %}
                <li>
                    <a href=""> </a>
                </li>
            {% endfor %}        
        </ul>
    </div>
    <div class="votemenu">
    <a href="{{ url_for('agree_with_post', post_id=post.id) }}">agree</a><br>
    <a href="{{ url_for('disagree_with_post', post_id=post.id) }}">disagree</a><br>
    <a href="{{ url_for('undecided_on_post', post_id=post.id) }}">undecided</a><br>
    </div>
</p>


{% endblock %}
